.container{
    text-align: center;
    margin-top: 33px;
}

table{
    margin: auto;
}
input{
    font-size: 34px;
    border: 5px solid yellow;
    border-radius: 21px;
}
button{
    font-size: 40px;
    background: chartreuse;
    width: 100px;
    height: 70px;
    border-radius: 20px;
    margin: 6px;
}
.calculator{
    background-color: #ff99f7;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
    border: 4px solid rgb(10, 10, 4);
    
}